

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    color: #666;
    padding: 20;
}

body {
    margin: 25;    
}

h3 {
    color: #006f9e;
    text-decoration: none;
}

ol,ul {
    padding-left: 30px;
    color:  #1c79a1;    
}

 img  {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 10px solid #dddddd;    
}
 